footer {
  background: #333;
  color: #fff;
  display: flex;
  align-items: center;
  height: 70px;
  p {
    margin: 0;
  }
  a {
    font-size: 16px;
  }
  .container {
    display: flex;
    align-items: center;
  }
}
