label {
  input[type="checkbox"] {
    display: none;
    &:checked {
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 15px;
        color: #f3f3f3;
        text-align: center;
        line-height: 15px;

        /*
        content: "\2022";
            color: #f3f3f3;
            font-size: 30px;
            text-align: center;
            line-height: 18px;
        */
     }
  }
  &:before {
    border-radius: 3px;
  }
}
